<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
    </head>
    <body>

        <form id=SigninForm #contactForm="ngForm">
            <div class="container">

                <div class="col-md-10 col-md-offset-1 main">
                    <div class="col-md-6 left-side">
                        <h3>NearMe</h3>
                        <p>Connect to Nearme network.</p>
                        <br>


                    </div><!--col-sm-6-->

                    <div class="col-md-6 right-side">
                        <h3>Login</h3>

                        <!--Form with header-->
                        <div class="form">


                            <div class="form-group">
                                <label for="Username">Your usersname</label>
                                <input #Username="ngModel" ngModel
                                    aria-describedby="Username"
                                    type="text" class="form-control input-lg"
                                    id="Username"
                                    name="Username">

                            </div>

                            <div class="form-group">
                                <label for="Password">Your password</label>
                                <input #Password="ngModel" ngModel
                                    aria-describedby="Password"
                                    type="password" id="Password"
                                    class="form-control input-lg"
                                    name="Password">

                            </div>

                            <div class="text-xs-center">
                                <button class="btn btn-deep-purple">Login</button>
                            </div>


                        </div>
                        <!--/Form with header-->

                    </div><!--col-sm-6-->


                </div><!--col-sm-8-->

            </div><!--container-->
        </form>


    </body>
</html>