<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  </head>
  <body>
    <div class="section1">
      <div class="right">
        <h1 style="padding-top:10px;color: rgb(255, 67, 67);margin: 5px 6px; font-size: 33px; text-shadow: 3px 3px 5px rgb(32, 26, 26); text-align: center;">Our Services</h1>
        <div >
        <ul class="box">
          <li><a href="/explore/Hostel"><i class="fa fa-angle-double-right"></i>Hostel</a></li>
          <li ><a href="/explore/Stationary"><i class="fa fa-angle-double-right"></i>Stationary Shop</a></li>
          <li><a href="/explore/Mess"><i class="fa fa-angle-double-right"></i>Mess</a></li>
          <li><a href="/explore/Coffee"><i class="fa fa-angle-double-right"></i>Coffee Shop</a></li>
          <li><a href="/explore/Sports"><i class="fa fa-angle-double-right"></i>Sports Shop</a></li>
          <li><a href="/explore/Glocery"><i class="fa fa-angle-double-right"></i>Glocery Shop</a></li>
        </ul>
        </div>
      </div>
    <div class="about-section">
      <h1 style="color: rgb(238, 241, 8);margin: 5px 6px; font-size: 35px;
        text-shadow: 3px 3px 5px rgb(32, 26, 26); text-align: center;">ABOUT US</h1>
<h4 style="padding-top: 15px; color: rgb(3 253 115);margin: 5px 6px; font-size: 35px;
text-shadow: 3px 3px 5px rgb(32, 26, 26);">The NearMe Philosophy:</h4>
      <p>We the founders have personally faced the problem and that's why are genuinely inspired to keep innovating for the better solutions to get better experiences and create better world. We are tech-savvies and living in this digital era, very open to invest in technology as all this magic is because of that. We learn continuously to adapt. We strive for the excellence customer experience and satisfaction by our products and services. We follow all moral and ethical principle. We work closely in collaboration with all the stakeholders. We are transparent to be open, honest, straightforward regarding company's operations.</p>
      <h4 style="padding-top: 15px; color: rgb(3 253 115);margin: 5px 6px; font-size: 35px;
      text-shadow: 3px 3px 5px rgb(32, 26, 26);">People Behind NearMe:</h4>
        <p>We have successfully done several projects, internships soo far. We have built few worthwhile products and services as well. Also, we are getting consulting from Team Dr. Vivek Bindra. At the end, we all wanted to build something of our own to serve and add value to people's lives. We have really put our heart and soul into this one, as this is something that is needed for all of us and we are glad that we are able to make it happen.
          Fun fact: Founders are still in their college life soo they are also very excited to create, use and scale this platform!
        </p>
        <h4 style="padding-top: 15px; color: rgb(3 253 115);margin: 5px 6px; font-size: 35px;
text-shadow: 3px 3px 5px rgb(32, 26, 26);">What NearMe Offers:</h4>
        <p>Student life is one of the best phase of all of our lives. It's the time when we wanna live to the fullest and explore whatever is there be it the campus or other available possibilities as well. We also had such wishes, hopes and fantacies in our days but unfortunately some are not fulfilled due to lack of planning, clarity, time or whatever soo called excuses. But this won't be the case for you as we are there for you. We'll make sure that your time, energies, resources are invested into some really worthwhile experiences to live lifetime moments every time you are with us so that you won't ever regret and also be able to create balance into all the dimensions of life so to make the most outta your student life!
        </p>
        <br>
          <p>There are already soo many platforms and ways where one can get information but we have verified reviews, responses/surveys, feedbacks, testimonials i.e. overall in depth customer experience about the particular services and facilities around the campus  which makes us reliable. Also, we are getting better with the time, experiences, technologies, overall customer experience and continuously updating the current scenarios as we are very proactive and continuously evolving soo that your experience as well as your trust on us won't be compromised. In the future, we are planning to conduct competitions to get rankings on the basis of particular parameters in that particular niche soo that there'll be virtual constructive competition to be the best service provider which will ultimately going to lead into creating the better ecosystem and better world for all of us!
          Note: The honest data you are gonna provide to us will not be shared with any other parties, it'll just be invested to consult the authorities to come up with their best possible versions.</p>
      </div>
    </div>
      
    </body>
  </html>

  <router-outlet></router-outlet>
