*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  background-color: rgba(46, 1, 1, 0.986);
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.containerh {
  height: 80px;
  background-color: #020e55;
  display: -webkit-box-sizing;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
}

.containerh .logo {
  max-width: 250px;
  padding: 0 10px;
  overflow: hidden;
}

.containerh .logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 60px;
}

.containerh .logo a img {
  max-width: 100%;
  max-height: 60px;
  border-radius: 50%;
}

.containerh .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 0 10px;
}

.containerh .navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.containerh .navbar ul li a {
  text-decoration: none;
  color: #999999;
  font-size: 17px;
  text-transform: uppercase;
  display: block;
  height: 70px;
  line-height: 60px;
  cursor: pointer;
  padding: 0 10px;
}

.containerh .navbar ul li a:hover {
  color: #ffffff;
  background-color: rgb(3, 59, 122);
  height: 70px;
  line-height: 60px;
}

.containerh .navbar ul .close {
  display: none;
  text-align: right;
  padding: 10px;
}

.containerh .navbar ul .close span {
  font-size: 40px;
  display: inline-block;
  border: 1px solid #cccccc;
  padding: 0 10px;
  cursor: pointer;
}

.containerh .navbar .icon-bar {
  padding: 18px 8px;
  width: 50px;
  height: 60px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  cursor: pointer;
}

.containerh .navbar .icon-bar i {
  background-color: #ffffff;
  height: 2px;
}

@media only screen and (max-width: 650px) {
  .containerh {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .containerh .logo {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .containerh .navbar {
    -webkit-box-flex: 0;
    -ms-flex: 0;
    flex: 0;
  }

  .containerh .navbar ul {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    position: fixed;
    left: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background: #ffffff;
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-transition: left 0.3s;
    -o-transition: left 0.3s;
    transition: left 0.3s;
  }

  .containerh .navbar ul li a {
    padding: 10px;
    font-size: 16px;
    height: auto;
    line-height: normal;
    color: #555555;
  }

  .containerh .navbar ul .close {
    display: block;
  }

  .containerh .navbar .icon-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .containerh .navbar ._Menus-show {
    left: 0;
  }
}

.body {
  max-width: 700px;
  margin: 0 0;
  padding: 10px;
}

body {
  background-image: url("src/assets/img/bg-about.jpg");
background-repeat: no-repeat;
background-size: 100% 100%;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing:border-box;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}


.section1{
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 50px;
  padding-top: 10px;
}
.right{
position: absolute;
  width: 20%;
  background-color: rgb(2, 247, 255);
  height: 155vh;
  margin-top: 0px;
  
}
.box{
  padding-top: 15px;
}
.box li{
  color: #ffffff;
  list-style-type:none;
  padding-top: 10px;
  
}
.box li a{
  color: #020e55;
}
.about-section {
  margin-left: 20%;
  padding-left: 5%;
  color: rgb(0, 0, 0); 
  font-size: 20px;
  
}

