<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  </head>
  <body>
    <div class="about-section">
      <h1 style="color: rgb(231, 216, 4);margin: 5px 6px; font-size: 35px;
        text-shadow: 3px 3px 5px rgb(32, 26, 26);">About Us </h1>
      <p>‘Student services and facilities management system’ is there to make
        student life more comfortable and convenient towards leading a
        delightful experience so that student will not be worrying about
        worthless things. We will empower them to live more productive in
        academics as well as explore all dimensions of student life full
        fledgedly. We will be providing information of services and facilities
        available for students like nearby hostels/ accommodations,
        canteens/food centres, Hospitals, Gyms, ATMs, Stationaries, Xerox
        centres etc on one platform at one click.
        <p>We personally have faced this problem of not having clarity regarding
          these leading to waste of time as well as misguiding or not receiving
          deserved return on investments. Achieving this objective is tedious,
          difficult and outdated by manually enquiring to endless number of
          people as the information is scattered, can be redundant and
          collecting relevant, updated information may be very time consuming.
        </p>
        <p>But no worries, we are there to connect you with the best! </p>
      </div>

      <div class="container-fluid">
        <div class="row">
          <div class="col-12 mt-3">
            <div class="card">
              <div class="card-horizontal">
                <div class="img-square-wrapper">
                  <img class="" src="assets/img/hostel_logo.webp" alt="Card image cap"
                    width="300px" height="180px">
                </div>
                <div class="card-body">
                  <h4 class="card-title">SHIVAM AKMAR</h4>
                  <p class="card-text">Some quick example text to build on the
                    card title and make up the bulk of the card's content.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid">
        <div class="row">
          <div class="col-12 mt-3">
            <div class="card">
              <div class="card-horizontal">
                <div class="img-square-wrapper">
                  <img class="" src="assets/img/hostel_logo.webp" alt="Card image cap"
                    width="300px" height="180px">
                </div>
                <div class="card-body">
                  <h4 class="card-title">VIKAS JOSHI</h4>
                  <p class="card-text">Some quick example text to build on the
                    card title and make up the bulk of the card's content.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid" style="margin-bottom: 10px;">
        <div class="row">
          <div class="col-12 mt-3">
            <div class="card">
              <div class="card-horizontal">
                <div class="img-square-wrapper">
                  <img class="" src="assets/img/profile.jpg" alt="Card image cap"
                    width="300px" height="180px">
                </div>
                <div class="card-body">
                  <h4 class="card-title">MANDAR PANDE</h4>
                  <p class="card-text">Some quick example text to build on the
                    card title and make up the bulk of the card's content.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </body>
  </html>

  <router-outlet></router-outlet>