<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #020e55;">
  <a class="navbar-brand"><img src="assets/img/nlogo.png" style="float: left;" width="90" height="70"><h1 style="color: rgb(231, 216, 4);margin: 5px 4px; font-size: 33px; text-shadow: 3px 3px 5px rgb(32, 26, 26);">NEAR ME</h1></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item ">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="src/Shopform/Shopform.component.html">Courses</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="#">contact</a>
      </li>
    </ul>
    <form class="form-inline  my-2 my-lg-0" action="#">
      
      <button class="btn btn-outline-success btn-lg my-2 my-sm-0" type="submit" style="margin-left: 7488px;">  REGISTER  </button>
    </form>
  </div>
</nav>
