<!-- <!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
    </head>
    <body>

        <div class="container contact">
            <div class="row">
                <div class="col-md-3">
                    <div class="contact-info">
                        <img src="https://image.ibb.co/kUASdV/contact-image.png"
                            alt="image" />
                        <h2>Contact Us</h2>
                        <h4>We would love to hear from you !</h4>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="contact-form">
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="fname">First
                                Name:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control"
                                    id="fname" placeholder="Enter First Name"
                                    name="fname">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="lname">Last
                                Name:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control"
                                    id="lname" placeholder="Enter Last Name"
                                    name="lname">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="email">Email:</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control"
                                    id="email" placeholder="Enter email"
                                    name="email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="comment">Comment:</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" rows="5"
                                    id="comment"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-default">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html> -->



  
<!-- <div class="mb-4 pb-2">
    <select class="select">
      <option value="1">Title</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
      <option value="4">Four</option>
    </select>
  </div>

  <div class="row">
    <div class="col-md-6 mb-4 pb-2">

      <div class="form-outline">
        <input type="text" id="form3Examplev2" class="form-control form-control-lg" />
        <label class="form-label" for="form3Examplev2">First name</label>
      </div>

    </div>
    <div class="col-md-6 mb-4 pb-2">

      <div class="form-outline">
        <input type="text" id="form3Examplev3" class="form-control form-control-lg" />
        <label class="form-label" for="form3Examplev3">Last name</label>
      </div>

    </div>
  </div>

  <div class="mb-4 pb-2">
    <select class="select">
      <option value="1">Position</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
      <option value="4">Four</option>
    </select>
  </div>

  <div class="mb-4 pb-2">
    <div class="form-outline">
      <input type="text" id="form3Examplev4" class="form-control form-control-lg" />
      <label class="form-label" for="form3Examplev4">Position</label>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 mb-4 pb-2 mb-md-0 pb-md-0">

      <div class="form-outline">
        <input type="text" id="form3Examplev5" class="form-control form-control-lg" />
        <label class="form-label" for="form3Examplev5">Bussines Arena</label>
      </div>

    </div>
    <div class="col-md-6">

      <select class="select">
        <option value="1">Employees</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
        <option value="4">Four</option>
      </select>

    </div>
  </div>
<div class="col-lg-6 bg-indigo text-white">
<div class="p-5">
  <h3 class="fw-normal mb-5">Contact Details</h3>

  <div class="mb-4 pb-2">
    <div class="form-outline form-white">
      <input type="text" id="form3Examplea2" class="form-control form-control-lg" />
      <label class="form-label" for="form3Examplea2">Street + Nr</label>
    </div>
  </div>

  <div class="mb-4 pb-2">
    <div class="form-outline form-white">
      <input type="text" id="form3Examplea3" class="form-control form-control-lg" />
      <label class="form-label" for="form3Examplea3">Additional Information</label>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5 mb-4 pb-2">

      <div class="form-outline form-white">
        <input type="text" id="form3Examplea4" class="form-control form-control-lg" />
        <label class="form-label" for="form3Examplea4">Zip Code</label>
      </div>

    </div>
    <div class="col-md-7 mb-4 pb-2">

      <div class="form-outline form-white">
        <input type="text" id="form3Examplea5" class="form-control form-control-lg" />
        <label class="form-label" for="form3Examplea5">Place</label>
      </div>

    </div>
  </div>

  <div class="mb-4 pb-2">
    <div class="form-outline form-white">
      <input type="text" id="form3Examplea6" class="form-control form-control-lg" />
      <label class="form-label" for="form3Examplea6">Country</label>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5 mb-4 pb-2">

      <div class="form-outline form-white">
        <input type="text" id="form3Examplea7" class="form-control form-control-lg" />
        <label class="form-label" for="form3Examplea7">Code +</label>
      </div>

    </div>
    <div class="col-md-7 mb-4 pb-2">

      <div class="form-outline form-white">
        <input type="text" id="form3Examplea8" class="form-control form-control-lg" />
        <label class="form-label" for="form3Examplea8">Phone Number</label>
      </div>

    </div>
  </div>

  <div class="mb-4">
    <div class="form-outline form-white">
      <input type="text" id="form3Examplea9" class="form-control form-control-lg" />
      <label class="form-label" for="form3Examplea9">Your Email</label>
    </div>
  </div>

  <div class="form-check d-flex justify-content-start mb-4 pb-3">
    <input
      class="form-check-input me-3"
      type="checkbox"
      value=""
      id="form2Example3c"
    />
    <label class="form-check-label text-white" for="form2Example3">
      I do accept the <a href="#!" class="text-white"><u>Terms and Conditions</u></a> of your site.
    </label>
  </div>

  <button type="button" class="btn btn-light btn-lg" data-mdb-ripple-color="dark">Register</button> -->