<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  </head>
  <body>

    <div *ngIf="contactform">
      <form id=contactForm #contactForm="ngForm"
        (ngSubmit)="contactUs(contactForm)">
        <div class="container contact">
          <div class="row">
            <div class="col-md-3">
              <div class="contact-info">
                <img src="https://image.ibb.co/kUASdV/contact-image.png"
                  alt="image" />
                <h2>Contact Us</h2>
                <h4>We would love to hear from you !</h4>
              </div>
            </div>
            <div class="col-md-9">
              <div class="contact-form">
                <div class="form-group">
                  <label class="control-label col-sm-2" for="fname">First
                    Name:</label>
                  <div class="col-sm-10">
                    <input #fname="ngModel" ngModel aria-describedby="fname"
                      type="text" class="form-control"
                      id="fname" placeholder="Enter First Name"
                      name="fname">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-2" for="lname">Last
                    Name:</label>
                  <div class="col-sm-10">
                    <input #lname="ngModel" ngModel aria-describedby="lname"
                      type="text" class="form-control"
                      id="lname" placeholder="Enter Last Name"
                      name="lname">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-2" for="email">Email:</label>
                  <div class="col-sm-10">
                    <input #email="ngModel" ngModel aria-describedby="email"
                      type="email" class="form-control"
                      id="email" placeholder="Enter email"
                      name="email">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-2" for="comment">Comment:</label>
                  <div class="col-sm-10">
                    <textarea #comment="ngModel" ngModel
                      aria-describedby="comment" class="form-control" rows="5"
                      id="comment" name="comment"></textarea>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">
                    <!-- Submit Button -->
                    <button id="submit_button" type="submit"
                      class="btn
                      btn-danger">Send</button>
                    <!-- Submit Button -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <br><br><br><br><br><br>
    <div *ngIf="successform === true" class="container">
      <!-- Popup Form -->
      <div data-ng-init="finish()" id="model_popup" class="fancy">
        <!-- Mail Checkmark -->
        <div style="position:relative;bottom:0px;margin-left:0px;"
          *ngIf="successform === true">
          <div class="swal2-icon swal2-success
            swal2-animate-success-icon"
            style="display: flex;">
            <span class="swal2-success-line-tip"></span>
            <span class="swal2-success-line-long"></span>
            <div class="swal2-success-ring"></div>
          </div>
        </div>
        <!-- Mail Checkmark -->
        <div style="text-align:center;color: black;">
          <h2>Thank You!</h2>
          <h5>We received your message.</h5>
          <h5>Our team will contact with you soon.</h5>
        </div>
      </div>
      <!-- Popup Form -->
    </div>
    <br><br><br><br><br><br>
  </body>
</html>