<div *ngIf="shopform === true" class="shopForm">

    <h1>Shop Details</h1>
    <form id=addShopform #addShopform="ngForm"
    (ngSubmit)="addShop(addShopform)">
    <div class="container">


            <!-- Customer Name -->
            <div class="form-group">
                <label id="input_label"
                    for="shop_name">Name</label>
                <input #shop_name="ngModel"
                    required
                    type="text" class="form-control"
                    placeholder="Enter Name"
                    id="shop_name"
                    aria-describedby="shop_name"
                    ngModel
                    name="shop_name">
            </div>
            <!-- Customer Name -->

            <!-- Customer Contact -->
             <!-- Customer Contact -->
             <div class="form-group">
                <label id="input_label_1"
                    for="shop_contact">Mobile Number</label>
                <input #shop_contact="ngModel"
                    pattern=\d\d\d\d\d\d\d\d\d\d
                    type="text" class="form-control"
                    id="shop_contact"
                    aria-describedby="shop_contact"
                    placeholder="Enter Mobile Number"
                    ngModel
                    name="shop_contact">
                <span id="input_label"
                    *ngIf="shop_contact.invalid &&
                    shop_contact.touched"
                    style="color:red"><b>**Mobile Number
                        Should
                        be
                        10 digits</b></span>
            </div>
            <!-- Customer Contact -->
            <!-- Customer Contact -->

            <!-- Customer Email -->
            <div class="form-group">
                <label id="input_label_1"
                    for="shop_email">Mobile Number</label>
                <input #shop_email="ngModel"
                    pattern=\d\d\d\d\d\d\d\d\d\d
                    type="text" class="form-control"
                    id="shop_email"
                    list="shop_emailList"
                    aria-describedby="shop_email"
                    placeholder="Enter Mobile Number"
                    ngModel
                    name="shop_email">
                <span id="input_label"
                    *ngIf="shop_email.invalid &&
                    shop_email.touched"
                    style="color:red"><b>**Mobile Number
                        Should
                        be
                        10 digits</b></span>
            </div>
            <!-- Customer Email -->

            <!-- Submit Button -->
            <button id="submit_button" type="submit"
                class="btn
                btn-danger">Next</button>
            <!-- Submit Button -->
            </div>
        </form>
</div>

<!-- ########################################################################################################################### -->

<div *ngIf="ownerform === true" class="shopForm">
    <form id=addOwnerform #addOwnerform="ngForm"
    (ngSubmit)="addOwner(addOwnerform)">
    <div class="container">


            <!-- Customer Name -->
            <div class="form-group">
                <label id="input_label"
                    for="shop_name">Owner Name</label>
                <input #shop_name="ngModel"
                    required
                    type="text" class="form-control"
                    placeholder="Enter Name"
                    id="shop_name"
                    aria-describedby="shop_name"
                    ngModel
                    name="shop_name">
            </div>
            <!-- Customer Name -->

            <!-- Customer Contact -->
             <!-- Customer Contact -->
             <div class="form-group">
                <label id="input_label_1"
                    for="shop_contact">Owner  Number</label>
                <input #shop_contact="ngModel"
                    pattern=\d\d\d\d\d\d\d\d\d\d
                    type="text" class="form-control"
                    id="shop_contact"
                    aria-describedby="shop_contact"
                    placeholder="Enter Mobile Number"
                    ngModel
                    name="shop_contact">
                <span id="input_label"
                    *ngIf="shop_contact.invalid &&
                    shop_contact.touched"
                    style="color:red"><b>**Mobile Number
                        Should
                        be
                        10 digits</b></span>
            </div>
            <!-- Customer Contact -->
            <!-- Customer Contact -->

            <!-- Customer Email -->
            <div class="form-group">
                <label id="input_label_1"
                    for="shop_email">Mobile Number</label>
                <input #shop_email="ngModel"
                    type="email" class="form-control"
                    id="shop_email"
                    aria-describedby="shop_email"
                    placeholder="Enter Mobile Number"
                    ngModel
                    name="shop_email">
            </div>
            <!-- Customer Email -->

            <!-- Submit Button -->
            <button id="submit_button" type="submit"
                class="btn
                btn-danger">Next</button>
            <!-- Submit Button -->
            </div>
        </form>
</div>