<!DOCTYPE html>
<html lang="en">
    <head>
        <script>
            var navList = document.getElementById("nav-lists");
function Show() {
navList.classList.add("_Menus-show");
}

function Hide(){
navList.classList.remove("_Menus-show");
}

$(document).ready(function() {
    console.log("Working..")

  var front = document.getElementsByClassName("front");
  var back = document.getElementsByClassName("back");

  var highest = 0;
  var absoluteSide = "";

  for (var i = 0; i < front.length; i++) {
    if (front[i].offsetHeight > back[i].offsetHeight) {
      if (front[i].offsetHeight > highest) {
        highest = front[i].offsetHeight;
        absoluteSide = ".front";
      }
    } else if (back[i].offsetHeight > highest) {
      highest = back[i].offsetHeight;
      absoluteSide = ".back";
    }
  }
  $(".front").css("height", highest);
  $(".back").css("height", highest);
  $(absoluteSide).css("position", "absolute");
});

// object-fit polyfill run
objectFitImages();

/* init Jarallax */
jarallax(document.querySelectorAll('.jarallax'));

jarallax(document.querySelectorAll('.jarallax-keep-img'), {
    keepImg: true,
});
        </script>
    </head>
    <body>
        <!-- Visit https://codepen.io/nicolaskadis/full/brQEOd/ for the latest, no js version! -->
        <div class="container1">
            <div class="row text-center">
                <div class="col-md-4 card-container1">
                    <div class="card card-flip">
                        <div class="front card-block"
                            style="background-color:rgb(255, 255, 255);">
                            <!-- To add FontAwesome Icons use Unicode characters and to set size use font-size instead of fa-*x because when calculating the height (see js), the size of the icon is not calculated if using classes -->
                            <img src="assets/img/hostel_logo.webp" width="300px"
                                height="300px">
                        </div>
                        <div class="back card-block">
                            <h5 style="color: rgb(250, 246, 6);">
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                            </h5>
                            <form method="get" action="datatype/hostel.html">
                                <a href="/explore/Hotel" class="btn btn-info"><i
                                        class="fa
                                        fa-folder-open"></i>| EXPLORE</a>
                                <!-- <button [src]="/explore/Hotel" class="btn btn-info"><i class="fa
                                    fa-folder-open"></i>| EXPLORE</button> -->
                            </form>

                        </div>
                    </div>
                </div>
                <div class="col-md-4 card-container1">
                    <div class="card card-flip">
                        <div class="front card-block" style="background-color:
                            rgb(255, 255, 255);">
                            <img src="assets/img/mess_logo.jpg" width="300"
                                height="300">
                        </div>
                        <div class="back card-block">
                            <h5 style="color: rgb(250, 246, 6);">
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                            </h5>
                            <form method="get" action="datatype/mess.html">
                                <a href="/explore/Mess" class="btn btn-info"><i
                                        class="fa
                                        fa-folder-open"></i>| EXPLORE</a>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 card-container1">
                    <div class="card card-flip">
                        <div class="front card-block"
                            style="background-color:rgb(255, 255, 255);">
                            <img src="assets/img/stationary_logo.jpg"
                                width="300" height="300">
                        </div>
                        <div class="back card-block">
                            <h5 style="color: rgb(250, 246, 6);">
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                            </h5>
                            <form method="get"
                                action="datatype/stationary.html">
                                <a href="/explore/Stationary" class="btn
                                    btn-info"><i
                                        class="fa
                                        fa-folder-open"></i>| EXPLORE</a>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 card-container1">
                    <div class="card card-flip">
                        <div class="front card-block" style="background-color:
                            rgb(255, 255, 255);">
                            <img src="assets/img/cofee_logo.jpg" width="300"
                                height="300">
                        </div>
                        <div class="back card-block">
                            <h5 style="color: rgb(250, 246, 6);">
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                            </h5>
                            <form method="get" action="datatype/coffee.html">
                                <a href="/explore/Coffee" class="btn btn-info"><i
                                        class="fa
                                        fa-folder-open"></i>| EXPLORE</a>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 card-container1">
                    <div class="card card-flip">
                        <div class="front card-block">
                            <img src="assets/img/sport_logo.jpg" width="300"
                                height="300">
                        </div>
                        <div class="back card-block">
                            <h5 style="color: rgb(250, 246, 6);">
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                            </h5>
                            <form method="get" action="datatype/sport.html">
                                <a href="/explore/Sport" class="btn btn-info"><i
                                        class="fa
                                        fa-folder-open"></i>| EXPLORE</a>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 card-container1">
                    <div class="card card-flip">
                        <div class="front card-block">
                            <img src="assets/img/glocery_logo.webp" width="300"
                                height="300">
                        </div>
                        <div class="back card-block">
                            <h5 style="color: rgb(250, 246, 6);">
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                            </h5>
                            <form method="get" action="datatype/glocery.html">
                                <a href="/explore/Glocery" class="btn btn-info"><i
                                        class="fa
                                        fa-folder-open"></i>| EXPLORE</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Background Image Parallax -->
        <div class="parallax">
            <div class="parallax-inner">
            </div>
        </div>
        <!-- Footer -->
    </body>
</html>
